<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<header></header>
<div sec:authorize="isAuthenticated()">
    <h2>Username: <span th:text="${#authentication.principal.username}"/></h2>
</div>
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>