<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="UTF-8">
    <title>Take a guess</title>
</head>
<body>
<nav th:replace=" fragments/navbar :: navbar"></nav>
<header th:replace="fragments/header :: header"></header>
<ul>
    <li><a href="/roll-dice/1">1</a></li>
    <li><a href="/roll-dice/2">2</a></li>
    <li><a href="/roll-dice/3">3</a></li>
    <li><a href="/roll-dice/4">4</a></li>
    <li><a href="/roll-dice/5">5</a></li>
    <li><a href="/roll-dice/6">6</a></li>
    <li><a href="/roll-dice/7">7</a></li>
    <li><a href="/roll-dice/8">8</a></li>
    <li><a href="/roll-dice/9">9</a></li>
    <li><a href="/roll-dice/10">10</a></li>
    <li><a href="/roll-dice/11">11</a></li>
    <li><a href="/roll-dice/12">12</a></li>
</ul>
<footer th:replace=" fragments/footer :: footer "></footer>

</body>
</html>